.border{
    border: 1px solid black;    
}


.homeLayout{
    position: absolute;
    width:80%;
    right:0px;
    background-color: #FBFBFB;
    margin-top:70px;
    max-height: 40vh; 
}


.firstRow{
    margin-top:70px;
}


.secondRow{
    margin-top:10px;
}

.thirdRow{
    margin-top:50px;
   
}

.paymentSection{
    padding: 30px;
    background:#FBFBFB;
}

.transfiSection{
    background:#FCFCFC;;
}

.tokenDetails{
    margin-right:10px;
}

.tokenIMG{
    width:2rem;
    height: 2rem;
    padding-top: 3px;
    background-color:#023e8a;
    border-radius:50%;
    margin-right:7px;
}

.bnbAmount{
    padding:30px;
}

.formInput{
    border-bottom:2px solid #023e8a;
    margin-bottom:0px;
    padding-left:0px

}

.c4 {
    background-color: white;
}


.currency{
    font-family:'Roboto';
    font-weight:500;
    font-size:15px;
    color:#8DA7C8;
    margin-bottom: 0px;

}

.currencyDigits{
    font-family:'Roboto';
    font-weight:600;
    font-size:20px;
    color:#023E8A;
}

.overview{
    font-family:'Roboto';
    font-weight:500;
    font-size:24px;
    color:#023E8A;
}

.accountID{
    font-family:'Roboto';
    font-weight:400;
    font-size:18px;
    color:#8DA7C8;
    display:flex;
    justify-content: flex-end;
}

.c1p3{
    font-family:'Roboto';
    font-weight:400;
    font-size:17px;
    color:#023E8A;
    background: #ECF8FD;
    border-radius:16px;
}

.tfiToDollar{
    font-family:'Roboto';
    font-weight:400;
    font-size:15px;
    color:#023E8A;
}

.addInput{
    width:60%;
    background:#f4f4f4;

}

.payButton{
    width:60%;
}

.payButtonCover{
    display:flex;
    justify-content:flex-end
}

@media (max-width: 768px) {
    .homeLayout{
        width:100%
    }
}

