.border{
    border: 1px solid black;
    
}

.ss1{
    position: absolute;
    width:80%;
    right:0px;
    background-color: #FBFBFB;
    margin-top:70px;
}

.ss2{
    width:100%;
}

.r1{
    margin-top:70px;
}


.r2{
    margin-top:10px;
}

.sectionHeight--short-max{
    max-height: 40vh;   
}

.c2{
    display:flex;
    justify-content: flex-end;
}

.c3{
    margin-right:10px;
}

.tokenIMG{
    width:3rem;
    height: 3rem;
    padding-top: 3px;
    background-color:#011F45;
    border-radius:50%;
    
}
.dollar{
    display:inline-block;
    width:3rem;
    height: 3rem;
    font-size: 32px;
    padding-left:8px;
    padding-bottom:2px;
    color:#011F45;
    background:#011F45;
    border-radius:50%;
    
}

.r21{
    padding-top:15px;
}
.r24{
    text-align: right;
}

.c3, .c4 {
    background-color: white;
}

.c4{
        background-image: url('./images/mapBg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
}

.c5{
    background-image: url('./images/mapLight.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

.c3p1{
    font-family:'Roboto';
    font-weight:500;
    font-size:15px;
    color:#8DA7C8;
    margin-bottom: 0px;

}

.c3p2{
    font-family:'Roboto';
    font-weight:600;
    font-size:20px;
    color:#023E8A;
}

.c1p1{
    font-family:'Roboto';
    font-weight:500;
    font-size:24px;
    color:#023E8A;
}

.c1p2{
    font-family:'Roboto';
    font-weight:400;
    font-size:18px;
    color:#8DA7C8;
}

.c1p3{
    font-family:'Roboto';
    font-weight:400;
    font-size:17px;
    color:#023E8A;
    background: #ECF8FD;
    border-radius:16px;
}

.c4p1{
    font-family:'Roboto';
    font-weight:400;
    font-size:17px;
    color:#023E8A;
}




@media (max-width: 768px) {
    .ss1{
        width:100%
    }
}

