.personalData{
    background:white;
    padding:30px;
}

.border-bottom{
    border-bottom:3px solid #023e8a;
    margin-bottom: 10px
}

.detailsInput{
    display:block;
    margin-top:10px;
    background:#f4f4f4;
}

