.con {
    margin-top:10px;
}

/*.row i{
    display:flex;
    justify-content:flex-end;
    background:#023E8A;
    color:white;
    padding-top:10px;
}*/

.h4{
    font-family:'Roboto';
    font-weight:500;
    font-size:24px;
    color:#023E8A
}

thead{
    background:#F4F4F4;
    border-radius:200px;
    border-bottom:0px;
}

td{
    font-family:'Roboto';
    font-weight:500;
    font-size:15px;
    color:#0096C7;
}

th{
    font-family:'Roboto';
    font-weight:700;
    font-size:15px;
    color:#023E8A;
    border-radius:8px, 8px, 0px, 0px;
    border-bottom: 0px;
}





